body{
    background-color: rgb(241, 226, 16);
}

#navigation {
    position: absolute;
    width: 200px;
    margin-top: 60px;
    margin-left: 50px;
}

#navlist {
    list-style-type: none;
    line-height: 35px;
    margin: 0;
    padding: 10px;
}

#navitem {
    /* width: 100px; */
    text-decoration: none;
    background-color: #000000;
    font-size: larger;
    padding-right: 20px;
}

a {
    text-decoration: none;
    background-color: #f0f8ff;
    margin: 10px 0;
    padding: 8px 10px;
    display:block;
}

#maincontainer{
    background-color: rgb(136, 196, 17);
    margin-left: 300px;
    margin-top: 300px;
    padding: 20px;
    margin-right: 100px;
    color: #4e064e;
}

#maincontainer img{
    float: left;
    width: auto;
    height: 200px;
    margin-right: 20px;
}

#para3{
    clear: left;
    font-size: larger;
    padding-top: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.desc {
    font-size: larger;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 35px;
}

#cont_container {
    background-color: rgb(255, 115, 0);
    margin-left: 300px;
    margin-top: 300px;
    padding: 20px;
    margin-right: 100px;
    color: #4e064e;
    padding-left: 50px;
}

#detailsinput{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}



